#prev-cities {
    border-top: 2px solid black;
    margin-top: 20px;
}

#city-input-div {
    margin-bottom: 5px;
}

#current-weather {
    margin-bottom: 40px;
}

.prev-btn {
    margin: 5px 0 5px 0;
}

.card {
    background-color: #209cee;
}